--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/ort-cuda-13-nightly/pypi/simple/
# Core AI stack
diffusers==0.36.0
transformers==4.54.0 #4.53.1
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm
imageio
imageio-ffmpeg
einops
sentencepiece
open_clip_torch>=2.29.0
numpy==2.1.2
num2words==0.5.14

# Video & media
moviepy==1.0.3
av
ffmpeg-python
pygame>=2.1.0
sounddevice>=0.4.0
soundfile
mutagen
pyloudnorm
librosa==0.11.0
speechbrain==1.0.3
audio-separator==0.36.1
pyannote.audio==3.3.2
torchcodec

# UI & interaction
gradio==5.29.0
dashscope
loguru
s3tokenizer
conformer==0.3.2
spacy_pkuseg
spacy
gradio_rangeslider

# Vision & segmentation
opencv-python>=4.12.0.88
segment-anything
rembg[gpu]==2.0.65
onnxruntime-gpu==1.22.0; python_version < "3.11"
onnxruntime-gpu==1.25.0.dev20260210001; python_version >= "3.11"
decord
timm
insightface @ https://github.com/deepbeepmeep/insightface/releases/download/insightface/insightface-0.7.3-cp310-cp310-win_amd64.whl ; sys_platform == "win32" and python_version == "3.10"
insightface @ https://github.com/deepbeepmeep/insightface/releases/download/insightface/insightface-0.7.3-cp311-cp311-win_amd64.whl ; sys_platform == "win32" and python_version == "3.11"
insightface @ https://github.com/deepbeepmeep/insightface/releases/download/insightface/insightface-0.7.3-cp312-cp312-win_amd64.whl ; sys_platform == "win32" and python_version == "3.12"
insightface==0.7.3 ; sys_platform == "linux"
facexlib==0.3.0
taichi
vector_quantize_pytorch==1.27.19 

# chumpy wheel hosted on GitHub to avoid sdist build isolation issue
chumpy @ https://github.com/deepbeepmeep/chumpy/releases/download/v0.71/chumpy-0.71-py3-none-any.whl
smplfitter @ https://github.com/deepbeepmeep/smplfitter/releases/download/v0.2.10/smplfitter-0.2.10-py3-none-any.whl

# Config & orchestration
omegaconf
hydra-core
easydict
pydantic==2.10.6

# Math & modeling
torchdiffeq>=0.2.5
tensordict>=0.6.1
mmgp==3.7.4
peft==0.17.0 # 0.15.0
vector-quantize-pytorch
matplotlib
gguf==0.17.1

# Utilities
ftfy
piexif
nvidia-ml-py 
misaki
gitdb==4.0.12 
gitpython==3.1.45
stringzilla==4.0.14
xxhash

# Optional / commented out
# transformers==4.46.3  # for llamallava pre-patch
# rembg==2.0.65         # non-GPU fallback
# huggingface_hub[hf_xet]  # slows down everything
